<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Flawedapp</title>
    </head>

    <form action='logout/' method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout"/> 
    </form>

    <input type="button" value="Go to new location" onclick="newLocation()"> 

    <h1>Webapp with flaws</h1>

    
    <script> 
        function newLocation() { 
            window.location.href="/index"; 
        } 
    </script> 

    
</html>